<div class="container">

    <h1>Upload your data</h1>

    <div class="section">
        <div class="file-upload">
            <h4>Upload file</h4>
            <input class="form-control" type="file" id="file" name="myfiles[]" multiple
                (change)="fileSelected($event)" />
            <button type="button" class="btn btn-dark" (click)="data()">Upload</button>

        </div>
        <img src="assets/baner-img.jpg" width="100%" height="300px">
       
    </div>
    <div class="section">
        <div class="respond">
            <h2 *ngIf="message" class="result">{{message.message}}</h2>
            <button type="button" class="btn btn-dark" *ngIf="message" (click)="graphdisplay('graphdisplay')">Show
                diagram</button>
            </div>
    </div>
</div>